<%- include('../includes/head.ejs') %> <!-- 📄 (📂 l'en-tête commun) -->
  <link rel="stylesheet" href="/css/product.css"> <!-- 🎨 (🖌️ les produits) -->
</head>

<body>
  <%- include('../includes/navigation.ejs') %> <!-- 🧭 (📂 la barre de navigation) -->

  <!-- 🏷️ Bannière Héro -->
  
    <!-- 30% Promo
    <div class="d-flex align-items-center justify-content-center" style="background-image: url(images/background.jpg); background-size: cover; height: 100vh;">
      <div class="banner text-center">
        <span class="display-4 text-light font-weight-bold">Soldes</span><br />
        <span class="h4 text-light">30% sur les produits populaires!</span>
      </div>
    </div> -->
  <main>
    <%- include('landing.ejs') %> <!-- 🛍️ Section Principale -->
    <%- include('../includes/prestation-table.ejs') %> <!-- 🛍️ (📂 table des tarifs des services)--> 
    <%- include('../includes/product-list.ejs') %> <!-- 🛍️ (📂 slider des produits)--> 
  </main>
  <footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>À propos</h5>
          <p>Nous sommes une entreprise dédiée à offrir les meilleurs produits à des prix compétitifs. Notre priorité est la satisfaction de nos clients.</p>
        </div>
        <div class="col-md-4">
          <h5>Contactez-nous</h5>
          <ul class="list-unstyled">
            <li>Email: contact@entreprise.com</li>
            <li>Téléphone: +33 1 23 45 67 89</li>
            <li>Adresse: 123 Rue de l'Exemple, Paris, France</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-uppercase mb-4">Suivez-nous</h5>
          <ul class="list-unstyled d-flex justify-content-between">
            <li>
              <a href="#" class="text-light" aria-label="Instagram">
                <i class="fab fa-instagram" style="color:#E1306C;"></i>
              </a>
            </li>
            <li>
              <a href="#" class="text-light" aria-label="TikTok">
                <i class="fab fa-tiktok" style="color:#000000;"></i>
              </a>
            </li>
            <li>
              <a href="#" class="text-light" aria-label="Facebook">
                <i class="fab fa-facebook-f" style="color:#4267B2;"></i>
              </a>
            </li>
            <li>
              <a href="#" class="text-light" aria-label="Twitter">
                <i class="fab fa-twitter" style="color:#1DA1F2;"></i>
              </a>
            </li>
            <li>
              <a href="#" class="text-light" aria-label="Snapchat">
                <i class="fab fa-snapchat" style="color:#FFFC00;"></i>
              </a>
            </li>
            <li>
              <a href="#" class="text-light" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in" style="color:#0077B5;"></i>
              </a>
            </li>
            <li>
              <a href="#" class="text-light" aria-label="Pinterest">
                <i class="fab fa-pinterest" style="color:#E60023;"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <p>&copy; 2024 Nom de l'Entreprise. Tous droits réservés.</p>
        </div>
      </div>
    </div>
  </footer>

  <%- include('../includes/end.ejs') %> <!-- 🔚 (📂 la fin de la page commune) -->
</body>
